body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

.map-image {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/HeroSection-bg-image.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.heroHeading {
  position: absolute;
  top: 13%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: xx-large;
}

.heroSubHeading {
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: larger;
}